@model GS_Models.GameViewModels.GameDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="labelText">Are you sure you want to delete</h2>
<h4>"@Model.GameTitle"</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.PlatformType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformType)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryType)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.RatingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingType)
        </dd>

        @*<dt class="labelText">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="button btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class= "actionLinkText" })
        </div>
    }
</div>
