@model GS_Models.GameViewModels.GameDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageReview)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
