@model IEnumerable<GS_Models.GameViewModels.GameListItem>

@{
    ViewBag.Title = "Index";
}


<p>
    @* Will add back in after user roles are configured *@
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table" style="color:whitesmoke">
    <tr class="labelText">
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlatformType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfReviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageReview)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="actionLinkText" href="@Url.Action("Details", "Game", new { id = item.GameID })">
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageReview)
            </td>
            <td>
                @* Will add back in after user roles are configured *@
                @*@Html.ActionLink("Edit", "Edit", new { id = item.GameID }, new { @class = "actionLinkText" }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.GameID }, new { @class = "actionLinkText" }) |*@
                @Html.ActionLink("Write A Review", "RedirectToCreateReview", new { gameID = item.GameID }, new { @class = "actionLinkText" })
            </td>
        </tr>
    }

</table>
