@model GS_Models.PostViewModels.PostCreate

@{
    ViewBag.Title = "Create";
}

<h2 class="labelText">Create a post in</h2>
<h4>"@ViewData["threadTitle"]"</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       @Html.HiddenFor(model => model.ThreadID)

        <div class="form-group">
            @Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2 labelText" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ThreadPostsIndex", new { threadID = ViewData["threadID"] }, new { @class = "actionLinkText" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
