@model GS_Models.PostViewModels.PostDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="labelText">Are you sure you want to delete this post?</h2>
<h4>"@Model.PostContent"</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        @* Add a thread title property, show "From Thread" *@
        @*<dt>
            @Html.DisplayNameFor(model => model.Thread.ThreadTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread.ThreadTitle)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReplies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReplies)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="button btn btn-default" /> |
            @Html.ActionLink("Back to List", "ThreadPostsIndex", new { threadID = Model.ThreadID }, new { @class = "actionLinkText" })
        </div>
    }
</div>
