@model GS_Models.PostViewModels.PostDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="labelText">Details for post</h2>
<h4>"@Model.PostContent"</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorDisplayName)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.PostCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreated)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.NumberOfReplies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReplies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { postID = Model.PostID }, new { @class = "actionLinkText" }) |
    @Html.ActionLink("Back to List", "ThreadPostsIndex", new { threadID = Model.ThreadID }, new { @class = "actionLinkText" })
</p>
