@model IEnumerable<GS_Models.PostViewModels.PostListItem>

@{
    ViewBag.Title = "ThreadPostsIndex";
}

<h2 class="labelText">Posts in</h2>
<h4>"@ViewData["threadTitle"]"</h4>
<br />

<p>
    @Html.ActionLink("Create New Post", "Create", new { threadID = ViewData["threadID"]}, new { @class = "actionLinkText" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfReplies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a class="actionLinkText" href="@Url.Action("PostRepliesIndex", "PostReply", new { postID = item.PostID })">
            @Html.DisplayFor(modelItem => item.PostContent)
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatorDisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PostCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfReplies)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { postID = item.PostID }, new { @class = "actionLinkText" }) |
        @Html.ActionLink("Details", "Details", new { postID = item.PostID }, new { @class = "actionLinkText" }) |
        @Html.ActionLink("Delete", "Delete", new { postID = item.PostID }, new { @class = "actionLinkText" }) 
    </td>
</tr>
}

</table>
