@model IEnumerable<GS_Models.ReviewViewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<br />

<table class="table" style="color: whitesmoke">
    <tr class="labelText">
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewRating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorDisplayName)
            </td>
            <td>
                <a class="actionLinkText" href="@Url.Action("Details", "Review", new { id = item.ReviewID })">
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewRating)
            </td>
            @if(item.UserID.ToString() == ViewData["userID"].ToString())
            {
                <td style="color: forestgreen">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }, new { @class = "actionLinkText" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID }, new { @class = "actionLinkText" })
                </td>
             }
            <td></td>
        </tr>
    }

</table>
