@model IEnumerable<GS_Models.ReviewViewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Review Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ReviewID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatorDisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GameTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReviewRating)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReviewDescription)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
    </td>
</tr>
}

</table>
