@model GS_Models.ThreadViewModels.ThreadDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="labelText">Details for</h2>
<h4>"@Model.ThreadTitle"</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorDisplayName)
        </dd>


        <dt class="labelText">
            @Html.DisplayNameFor(model => model.ThreadDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreadDescription)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.ThreadCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreadCreated)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.NumberOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPost)
        </dd>

    </dl>
</div>
@if (Model.ThreadCreator.ToString() == ViewData["userID"].ToString())
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { threadID = Model.ThreadID }, new { @class = "actionLinkText" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "actionLinkText" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "actionLinkText" })
    </p>
}
