@model IEnumerable<GS_Models.ThreadViewModels.ThreadListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the forums, jump on in and get involved with the community!</h2>

<p>
    @Html.ActionLink("Create New Thread", "Create", null, new { @class = "actionLinkText" })
</p>
<table class="table">
    <tr class="labelText">
        <th>
            @Html.DisplayNameFor(model => model.ThreadTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a class="actionLinkText" href="@Url.Action("ThreadPostsIndex", "Post", new { threadID = item.ThreadID })">
            @Html.DisplayFor(modelItem => item.ThreadTitle)
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatorDisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThreadCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfPost)
    </td>
    @if (item.ThreadCreator.ToString() == ViewData["userID"].ToString())
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { threadID = item.ThreadID }, new { @class = "actionLinkText" }) |
            @Html.ActionLink("Details", "Details", new { threadID = item.ThreadID }, new { @class = "actionLinkText" }) |
            @Html.ActionLink("Delete", "Delete", new { threadID = item.ThreadID }, new { @class = "actionLinkText" })
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink("Details", "Details", new { threadID = item.ThreadID }, new { @class = "actionLinkText" }) 
        </td>
    }
</tr>
    }

</table>
