@model IEnumerable<GS_Models.ThreadViewModels.ThreadListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Forums Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThreadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadID)
        </td>
        <td>
            <a href="@Url.Action("ThreadPostsIndex", "Post", new { threadID = item.ThreadID })">
                @Html.DisplayFor(modelItem => item.ThreadTitle)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorDisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { threadID = item.ThreadID }) |
            @Html.ActionLink("Details", "Details", new { threadID = item.ThreadID }) |
            @Html.ActionLink("Delete", "Delete", new { threadID = item.ThreadID }) 
            @*@Html.ActionLink("View Posts", "GoToPostsForThread", new { threadID = item.ThreadID })*@
        </td>
    </tr>
}

</table>
