@model GS_Models.PostReplyViewModels.PostReplyDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="labelText">Details for reply</h2>
<h4>"@Model.ReplyContent"</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorDisplayName)
        </dd>

        <dt class="labelText">
            @Html.DisplayNameFor(model => model.ReplyCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { replyID = Model.ReplyID }, new { @class = "actionLinkText" }) |
    @Html.ActionLink("Back to List", "PostRepliesIndex", new { postID = Model.PostID }, new { @class = "actionLinkText" })
</p>
