@model GS_Models.PostReplyViewModels.PostReplyEdit

@{
    ViewBag.Title = "Edit";
}

<h2 class="labelText">Edit</h2>
<h4>"@Model.ReplyContent"</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @Html.HiddenFor(model => model.ReplyID)

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyContent, htmlAttributes: new { @class = "control-label col-md-2 labelText" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "PostRepliesIndex", new { postID = ViewData["postID"] }, new { @class = "actionLinkText" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
