@model IEnumerable<GS_Models.PostReplyViewModels.PostReplyListItem>

@{
    ViewBag.Title = "PostRepliesIndex";
}

<h2 class="labelText">Replies to post</h2>
<h4>"@ViewData["postContent"]"</h4>
<br />

<p>
    @Html.ActionLink("Create New Reply", "Create", new { postID = ViewData["postID"] }, new { @class = "actionLinkText" }) |
    @Html.ActionLink("Back To Thread", "GoBackToThread", new { postID = ViewData["postID"] }, new { @class = "actionLinkText" })
</p>
<table class="table">
    <tr class="labelText">
        <th>
            @Html.DisplayNameFor(model => model.ReplyContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorDisplayName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorDisplayName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { replyID = item.ReplyID }, new { @class = "actionLinkText" }) |
            @Html.ActionLink("Details", "Details", new { replyID = item.ReplyID }, new { @class = "actionLinkText" }) |
            @Html.ActionLink("Delete", "Delete", new { replyID = item.ReplyID }, new { @class = "actionLinkText" })
        </td>
    </tr>
}

</table>
